.btn-mood {
  background: linear-gradient(
    288.62deg,
    #6e8cf6 42.36%,
    rgba(110, 213, 246, 0.93) 115.74%
  );
  box-shadow: 0px 2px 16px rgba(71, 222, 255, 0.33);
  border-radius: 70px;
  border: #6e8cf6;
}
.mood-img {
  width: 164px;
  height: 164px;
}
.mood-1 {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}
.mood-2 {
  display: flex;
  gap: 25px;
}
.section-5 {
  background: linear-gradient(180deg, #fff6fb 0%, #ffffff 100%);
}

/* SECTION-6 */
.section-6 {
  background: linear-gradient(176.88deg, #f3b8bc 2.58%, #ffdad4 93.07%);
}

.calender-img {
  width: 375px;
  height: 375px;
}
.doctor-img {
  width: 375px;
  height: 250px;
}
